{% for item in s3 %}
[{{ item.storage_driver_id }}]
[profile {{ item.storage_driver_id }}]
{% if item.custom_endpoint_url is defined %}
endpoint_url = {{ item.custom_endpoint_url }}
{% endif %}
{% endfor %}