{
    "id":"orcid",
    "factoryAlias":"oauth2",
    "title":"ORCID",
    "subtitle":"",
    "factoryData":"type: orcid | userEndpoint: https://pub.orcid.org/v2.1/{ORCID}/person | clientId: {{ dataverse.orcid.clientId }} | clientSecret: {{ dataverse.orcid.clientSecret }}",
    "enabled":true
}
